<settings>

    <!-- 
    <setting propertyKey="@Properties.HourColor" title="@Strings.HourColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MinuteColor" title="@Strings.MinuteColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
     -->
    <setting propertyKey="@Properties.ShowDate" title="@Strings.ShowDateTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowHeartRate" title="@Strings.ShowHeartRateTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowBattery" title="@Strings.ShowBatteryTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ShowDaysToTerm" title="@Strings.ShowDaysToTermTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.SouthHemisphere" title="@Strings.SouthHemisphereTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.MarginOffset" title="@Strings.MarginOffsetTitle">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.HourDigitYOffset" title="@Strings.HourDigitYOffsetTitle">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.MinuteDigitYOffset" title="@Strings.MinuteDigitYOffsetTitle">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.BottomInfoOffset" title="@Strings.BottomInfoOffsetTitle">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.BottomInfoSpaceOffset" title="@Strings.BottomInfoSpaceOffsetTitle">
        <settingConfig type="numeric" />
    </setting>

</settings>
